<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""> <i class="bi bi-amazon"></i></a>

    <a class="position-relative mx-2 text-white" [routerLink]="['/cart']">
      <i class="bi bi-cart-fill fs-5"></i>
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
      >
        {{ cartQuantity$ | async }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </a>
  </div>
</nav>
