<div class="row">
  <div
    class="col-sm-6 col-md-4 col-lg-3 col-12 mb-4"
    *ngFor="let product of shimmers"
  >
    <div class="card fadeIn" aria-hidden="true">
      <div class="card-body">
        <p class="card-text placeholder-glow">
          <span class="placeholder rounded col-12" style="height: 150px"></span>
          <span class="placeholder rounded col-8"></span>
        </p>
        <a class="btn btn-primary disabled btn-sm placeholder col-4"></a>
      </div>
    </div>
  </div>
</div>
