<div class="fadeIn" aria-hidden="true">
  <div class="row">
    <div class="col-sm col-md-4">
      <span class="placeholder rounded col-12" style="height: 350px"></span>
    </div>
    <div class="col-sm col-md-8 d-flex flex-column gap-3">
      <span class="placeholder rounded col-12"></span>
      <span class="placeholder rounded col-8"></span>
      <span class="placeholder rounded col-8"></span>
      <span class="placeholder rounded col-6"></span>

      <a class="btn btn-primary disabled btn-sm placeholder col-2"></a>
    </div>
  </div>
</div>
