<div class="row">
  <div class="col-2 d-none d-sm-block">
    <ng-container *ngIf="categories$ | async as categories">
      <app-category-menu
        (onCategorySelect)="setSelectedCategory($event)"
        [selectedCategory]="(selectedCategory | async) || ''"
        [categories]="categories"
      ></app-category-menu>
    </ng-container>
  </div>
  <div class="col col-sm-10">
    <ng-container *ngIf="products$ | async as products">
      <app-product-list
        *ngIf="!isLoading"
        [products]="products"
      ></app-product-list>
    </ng-container>
    <app-product-list-shimmer *ngIf="isLoading"></app-product-list-shimmer>
  </div>
</div>
